@import "variables";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
  ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary, time, mark, audio, video
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html { 
    box-sizing:border-box;
    }
    *, *::before, *::after{
        box-sizing:inherit;
    }

body {
    font-size: $small-text;
    font-family: $f-family;
    font-style:normal;
    line-height: 1.2;
    font-weight: normal;
    color:  $black;

}
.clearfix:after { content: "."; visibility: hidden; display: block;
    height: 0; clear: both }
.wrapper_screen1 {
    background: linear-gradient(70deg, #9796F0, #FBC7D4);
  }
.screen1 {
    background : url('images/twogirls.png') no-repeat right bottom;
    height: 750px
  }
.header {
    padding: 20px 100px 0 100px;
    a {
        width: 25%;
    }
}
.menu {
    height:100px;
    width: 100%;
    margin: 0;
    padding: 0 0 0 100px;
    background-color:  #FAFBFD70;
    display: flex;
    justify-content: space-between;
    
    nav {
        height: 100px;
        ul { text-align: center;
        .menu_nav_item {
            font-size: $small-text;
            font-weight: 600;
            display:inline-block;
            list-style-type:none;
            padding-right: 30px;
            line-height: 100px;
            border-radius: 6px;
            text-align: center;
            position: relative;
              
              
            
            .menu_link {
                text-decoration: none;
                color: $black;
              }
            
        }
        .list_goods {
          .menu_level2 {width: 150px; display:none; 
            
          }
        }
        .list_goods:hover .menu_level2 {
          display:block; 
          position: absolute; 
          right: 10%; 
          bottom: -300%; 
          z-index: 3;
         list-style-type: none; 
         background-color: $black;
         text-align: left;
         border-radius: 5px;
         li {
          font-family: $f-family;
          font-weight: 500;
          font-size: $text;
          line-height: 105%;
          letter-spacing: 0%;
          color:white;
          padding-top: 10px;
          padding-left: 10px;
          padding-bottom: 10px;
         }
         
        }
        .menu_nav_item:hover .menu_link {
            color: white;
            box-shadow: 0px 8px 8px -4px #1A202C0A;
            box-shadow: 0px 16px 20px -4px #1A202C1A;}
            .menu_nav_item:hover {
                background: url('./images/Rectangle16.png')no-repeat top center; }
            }
              }

    .menu_baner { 
        
        background: url('./images/banner.png') no-repeat 90% top;
        height: 100px;
        p {
            text-transform: uppercase;
            font-weight: 900;
             font-size: 20px;
            color:  #3C336C;
             margin-right: 90px;
            line-height: 100px;
        }
      }
}
 
  .screen1_content {
    width: 100%;
     .screen1_text {
    padding: 50px 40% 0 100px;

    h2 {
        text-transform: uppercase;
  font-weight: 900;
  font-size: $big-title;
  color:  $black;
  line-height: 100%;
  letter-spacing: 4%;
    }

    p {
        font-weight: 400;
  font-size: $text;
  color:  $black;
  line-height: 130%;
  letter-spacing: 6.5%;
  margin-top: 10px
    }
  }
  .preferences{
    padding: 40px 30% 0 100px;
    .preference_item {
        width: 240px;
        height: 150px;
        background: url('./images/circle.png') no-repeat top center;
        display: inline-block;
        float: left;
    
        p {
            font-weight: 600;
      font-size: 24px;
      color:  #272525;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      padding-top: 100px;
    
         span {
            font-weight: 800;
            text-transform: uppercase;
         }
        }
      }
  } 
 }
  .screen2 {
      background-image: url('./images/svg/Rectangle85.svg');
      background-size: cover;
      margin-top: -43px;
      overflow: hidden;
      padding-bottom: 50px;
    .screen2_1 {
      padding: 80px 100px 0 100px;
      display: flex;
      justify-content: space-between;

      h2 {
        
font-weight: 700;
font-size: $big-title;
line-height: 100%;
letter-spacing: 0%;
      }
      h2::after {
        content: url('./images/svg/Vector.svg');
        position: relative; top:-0.4em;
      }


      p {
font-weight: 400;
font-size: $text;
line-height: 130%;
letter-spacing: 6.5%;
text-transform: lowercase;
color: $gray;
      }
      .allgoods {
     display: flex;
     align-items: center;
      
      a {
font-weight: 400;
font-size: $text;
line-height: 130%;
letter-spacing: 6.5%;
text-decoration: none;
color: $black;

      }
    }
    }
  .screen2_2 {
    padding: 20px 100px 0 100px;
    display:flex;
    justify-content: space-between;
    
    .shoppers {
      width: 68%;
      figure {
      
      img {
        width:100%;
      }
      figcaption {
        text-align: center;
        margin-top: 10px;
        a {
          font-family: $f-family;
font-weight: 600;
font-size: $small-title;
line-height: 105%;
letter-spacing: 0%;
text-align: center;
text-decoration: none;
color: $black;
        }
      }
    }
    }
    .popular {
      width: 30%;
      display: flex;
      flex-direction: column;
     .cups {
      width: 100%;
     }
     .thermo-t-shirt {
      display: flex; 
      justify-content: space-between;}
     .thermo, .t-shirt {
      width: 100%;
     }
    }
  }
  }
  .screen3 {
    background-image: url('./images/svg/Rectangle88.svg');
    margin-top: -20px;
    background-size: cover;
    .screen3_background {
      margin-top: 40px;
      background: url('./images/svg/backscreen3.svg') no-repeat right bottom;
   background-size: contain;
    .creative {
      padding-top: 60px;
      padding-left: 120px;
      transform: rotate(-3deg);
      font-family: Pangolin;
      margin-right: 20px;
font-weight: 400;
font-size: 69.73px;
line-height: 100%;
letter-spacing: 0%;

.C {
  color:#8B0000;
}
.R {
  color:#1E90FF;
}
.E {
  color:#000080;
}
.A {
  color:#4B3D52;
}
.T {
  color:#000000;
}
.I {
  color:#8B0000;
}
.V {
  color:#FFFF00;
}
.E {
  color:#32CD32;
}
    }
    .screen3_content {
      padding: 0px 100px 0 100px;
      .screen3_text {
        width: 70%;
        margin-top: 40px;
        h2 {
          font-family: $f-family;
font-weight: 700;
font-size: $big-title;
line-height: 100%;
letter-spacing: 0%;
        }
        p {
          margin-top: 20px;
          margin-bottom: 20px;
          width: 60%;
          font-family: $f-family;
font-weight: 400;
font-size: $text;
letter-spacing: 6.5%;
color: $gray;
        }
      }
      .screen3_button {
        padding-bottom: 70px;
        button {
          width: 280px;
          height: 60px; 
          text-align: center;
          border: none;
          border-radius: 60px;
          background-color: #EEF1F6;
          ;
            a {
              font-family: Montserrat;
              font-weight: 500;
              font-size: 16px;
              line-height: 140%;
              letter-spacing: 0%;
              text-decoration: none;
              color: $black;
            }
        }
        button:hover {
          background-color: $black;
        }
        button:hover a {
          color: white;
        }
      }
    }
    }
  }
  .screen4 {
    padding: 20px 100px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
      .img_sweaters {
        width: 50%;
        
        background-image: url('./images/svg/Ellipse26.svg'), url('./images/svg/Ellipse27.svg');  
        background-repeat:  no-repeat, no-repeat;
        background-position: 10% top, 100% 100%;
        background-size: 30%;
        img {width: 100%;
        padding: 60px 70px 80px 95px;}
      }
      .screen4_content {
        width: 49%;
        display: flex;
        flex-direction: column;
        padding-top: 60px;
        h3 {
          font-family: $f-family;
          font-weight: 700;
          font-size: $title;
          line-height: 120%;
          letter-spacing: 0%;
        }
        p {
          font-family: $f-family;
          font-weight: 400;
          font-size: $text;
          line-height: 130%;
          letter-spacing: 6.5%;
          color: $gray;
          padding-top: 20px;
        }
      }
  }
  .screen5 {
    background-image: url('./images/svg/bgscreen5.svg');
    background-repeat: no-repeat;
    background-position:  left top;
    background-size: cover;
    
    .screen5_content {
      padding: 150px 100px 150px 100px;
      display: flex;
      flex-direction: column;
      background-image: url('./images/svg/bg5lamp.svg'), url('./images/svg/bg5rocket1.svg'), url('./images/svg/bg5rocket2.svg'), url('./images/svg/bgcurve.svg');
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: 75% top, 45% 40%, 95% 5%, 50% 65%;
      .screen5_text1 {
        width: 40%;
        margin-bottom: 60px;
        h3 {
          font-family: $f-family;
          font-weight: 700;
          font-size: $title;
          line-height: 130%;
          letter-spacing: 4%;
           span {
            text-transform: uppercase;
           }
        }
        p {
          font-family: $f-family;
          font-weight: 400;
          font-size: $text;
          line-height: 130%;
          letter-spacing: 6.5%;
          color: $gray;
        }
      }
      .screen5_text2 {
        width: 40%;
        padding-bottom: 40px;
        p {
          font-family: $f-family;
          font-weight: 600;
          font-size: $small-title;
          line-height: 100%;
          letter-spacing: 0%;

        }
      }
      form {
        display: flex;
        justify-content: space-between;
       input {
        border-top: none;
        border-right: none;
        border-left: none;
        background: rgba(255, 255, 255, 0);
        width: 300px;
        height: 23px;
        font-family: $f-family;
        font-weight: 400;
        font-size: $small-text;
        line-height: 100%;
        letter-spacing: 0%;
        color: $gray;

        
       }
       input .button {
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: none !important;
        background: #1FAB8A !important;
        width: 280px !important;
        height: 60px !important;
        border-radius: 5px !important;

       }
      }

    }
  }
