@import "variables";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
  ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary, time, mark, audio, video
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html { 
    box-sizing:border-box;
    }
    *, *::before, *::after{
        box-sizing:inherit;
    }

body {
    font-size: $small-text;
    font-family: $f-family;
    font-style:normal;
    line-height: 1.2;
    font-weight: normal;
    color:  $black;

}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style-type: none;
}
.open {
  display: flex !important;
}
.screen1 {
    background: linear-gradient(70deg,#9796F0, #FBC7D4 );
   position: relative;
   
    header {
          padding: 20px 100px 20px 100px;
          display: flex;
          justify-content: space-between;
          text-align: center;
          align-items: center;
          .logo_link {
              width: 35%;
              img {
                width: 100%;
              }
          }
          .header_search {
            input {
              width: 300px;
              height: 40px;
              padding-left: 50px;
              border: solid black 3px;
              border-radius: 30px;
              background: url('../images/svg/search.svg') no-repeat 10px center;
            }
          }
          .header_tel {
            height: 40px;
            width: 220px;
            line-height: 40px;
            background-color: #1FAB8A;
            border-radius: 20px;
            color: #EEF1F6;
            text-decoration: none;
            font-family: $f-family;
            font-weight: 600;
            font-size: $small-text;
            letter-spacing: 0%;
      
          }
          .burger {
            display: none;
            position: relative;
            z-index: 50;
            align-items: center;
            justify-content: flex-end;
            width: 30px;
            height: 18px;
            span {
              height: 2px;
              width: 100%;
              transform: scale(1);
              background-color: $black;
            }
          }
          .burger::before, .burger::after {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            background-color: $black;
            transition: all 0.3s ease 0s;
          }
          .burger::before {
            top: 0;
          }
          .burger::after {
            bottom: 0;
          }
          /*Добавляем класс active для иконки бургера*/
          .burger.active span {
            transform: scale(0);
          }
          .burger.active::before {
            top: 52%;
            transform: rotate(-45deg) translate(0, -50%);
          }
          .burger.active::after {
            top: 50%;
            transform: rotate(45deg) translate(0, 50%);
          }
    }
    .menu {
  height:100px;
  width: 100%;
  padding-left: 100px;
  background-color:  #FAFBFD70;
  display: flex;
  justify-content: space-between;
  align-items: center;
  nav {
      height: 100px;
     width: 60%;
      .menu_level1 { text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
       height: 100px;      
      .menu_nav_item {
          font-size: $small-text;
          font-weight: 600;
          list-style-type:none;
          padding-right: 0;
          padding-left: 0;
          padding-top: 40px;
          border-radius: 6px;
          position: relative;
          height: 100px;  
          width: 43%;             
          .menu_link {
              text-decoration: none;
              color: $black;
              padding: 15px;
            }           
      }                   
      .menu_nav_item:hover .menu_link {
          color: white;
          box-shadow: 0px 8px 8px -4px #1A202C0A;
          box-shadow: 0px 16px 20px -4px #1A202C1A;}
          .menu_nav_item:hover {
              background: url('../images/Rectangle16.png')no-repeat top center;
             }
             .menu_level2 {
              position: absolute;
              left: -10px;
              top: 100px;
              width: 150px;
              background-color: $black;
              border-radius: 16px;
              display:none;
               li { 
                width: 100%;
                text-align: left;
                padding: 15px;
               a{
                 color: white;
                }
              }
              li:hover {
                background-color: white;
              }
              li:hover .a_level2{
                color: $black;
              }
              .menu_level3 {
                position:absolute;
                left: 152px;
                top: 50px;
                width: 150px;
                background-color: $black;
              border-radius: 16px;
              display: none;
                li:hover a{
                  color: $black;
                }
              }
             }
          }
          /* Выпадающее меню */
          .menu_level1 li:hover > ul{
            display: inline-block;
          }
          .menu_level1 .menu_level2 li:hover > ul {
            display: inline-block;
          }
            }
    
  .menu_baner { 
      
      background: url('../images/banner.png') no-repeat 90% top;
      height: 100px;
      p {
          text-transform: uppercase;
          font-weight: 900;
           font-size: 20px;
          color:  #3C336C;
           margin-right: 90px;
           padding-top: 40px;
          
      }
    }
    }
    .menu_burger {
    display: none;
    }
    .screen1_content {
        padding: 30px 50% 150px 100px;
        display: flex;
        flex-direction: column;
        background-image: url(../images/svg/page_sewing/bgwhite2.svg), url('../images/svg/page_sets/back2.svg'), url('../images/svg/page_sets/back1.svg');
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: left 450px, right bottom, 65% bottom;
        background-size: cover, 40%, 40%;
        .breadcrumbs {
            width: 80%;
            font-family: $f-family;
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            letter-spacing: 0%;
            color: #7981AD;
            a {
                font-family: $f-family;
                font-weight: 400;
                font-size: 14px;
                line-height: 130%;
                letter-spacing: 0%;
                color: #7981AD; 
            }
        }
        h1 {
            font-family: $f-family;
            font-weight: 900;
            font-size: $big-title;
            line-height: 100%;
            letter-spacing: 0%;
            text-transform: uppercase;
            padding-top: 30px;
        }
        p {
            padding-top: 30px;
            font-family: $f-family;
            font-weight: 400;
            font-size: $text;
            line-height: 130%;
            letter-spacing: 0%;
            color: $gray;
        }
        .screen1_button {
            padding-top: 50px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            button:first-child {
                width: 240px;
                height: 60px;
                border-radius: 60px;
                background-color: #3C336C;
                color: white;
                font-family: $f-family;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                letter-spacing: 0%;
                text-align: center;
                vertical-align: middle;
                border: none;
                cursor: pointer;
                margin-right: 5px;
            }
            button:last-child {
                width: 240px;
                height: 60px;
                border-radius: 60px;
                background-color: transparent;
                color: #524983;
                font-family: $f-family;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                letter-spacing: 0%;
                text-align: center;
                vertical-align: middle;
                border: none;
                cursor: pointer;
                margin-right: 5px;
            }
            button:first-child:hover {
              background-color: #309F85;
            }
            button:last-child:hover {
                background-color: #3C336C;
                color: white;
              }

    }
}

}
.screen2 {
    
    
    .screen2_content {
      padding: 20px 100px 20px 100px;
    h2 {
        font-family: $f-family;
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: 0%;
    }
    .sets_1_4 {
      display: flex;
      flex-direction: column;
      .list_of_sets {
        display: flex;
        justify-content: space-between;
        .item {
          width: 25%;
          margin: 20px;
          padding: 10px;
          border-radius: 16px;
          background-color: #FFFAFA;
          img {
            width: 100%;
          }
          h4 {
            font-family: $f-family;
            font-weight: 600;
            font-size: 24px;
            line-height: 105%;
            letter-spacing: 0%;
            padding-top: 5px;
          }
          p {
            font-family: $f-family;
            font-weight: 400;
            font-size: 12px;
            line-height: 105%;
            letter-spacing: 0%;
            padding-top: 10px;
            padding-bottom: 10px;
          }
          .colors {
            margin-bottom: 30px;
          }
          h3 {
            font-family: $f-family;
            font-weight: 600;
            font-size: 24px;
            line-height: 105%;
            letter-spacing: 0%;
            color: #C4C4C4;
          }
        }
        .item:hover {
          box-shadow: 0px 8px 4px #1A202C0A;
          
        }
      }
      button {
        width: 260px;
        font-family: $f-family;
        font-weight: 700;
        font-size: 24px;
        line-height: 130%;
        letter-spacing: 0%;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }
    .sets_5_8 {
      display: none;
      flex-direction: column;
      .list_of_sets {
        display: flex;
        justify-content: space-between;
        .item {
          width: 25%;
          margin: 20px;
          padding: 10px;
          border-radius: 16px;
          background-color: #FFFAFA;
          img {
            width: 100%;
          }
          h4 {
            font-family: $f-family;
            font-weight: 600;
            font-size: 24px;
            line-height: 105%;
            letter-spacing: 0%;
            padding-top: 5px;
          }
          p {
            font-family: $f-family;
            font-weight: 400;
            font-size: 12px;
            line-height: 105%;
            letter-spacing: 0%;
            padding-top: 10px;
            padding-bottom: 10px;
          }
          .colors {
            margin-bottom: 30px;
          }
          h3 {
            font-family: $f-family;
            font-weight: 600;
            font-size: 24px;
            line-height: 105%;
            letter-spacing: 0%;
            color: #C4C4C4;
          }
        }
        .item:hover {
          box-shadow: 0px 8px 4px #1A202C0A;
          
        }
      }
      button {
        width: 260px;
        font-family: $f-family;
        font-weight: 700;
        font-size: 24px;
        line-height: 130%;
        letter-spacing: 0%;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }
    .sets_9_12 {
      display: none;
      flex-direction: column;
      .list_of_sets {
        display: flex;
        justify-content: space-between;
        .item {
          width: 25%;
          margin: 20px;
          padding: 10px;
          border-radius: 16px;
          background-color: #FFFAFA;
          img {
            width: 100%;
          }
          h4 {
            font-family: $f-family;
            font-weight: 600;
            font-size: 24px;
            line-height: 105%;
            letter-spacing: 0%;
            padding-top: 5px;
          }
          p {
            font-family: $f-family;
            font-weight: 400;
            font-size: 12px;
            line-height: 105%;
            letter-spacing: 0%;
            padding-top: 10px;
            padding-bottom: 10px;
          }
          .colors {
            margin-bottom: 30px;
          }
          h3 {
            font-family: $f-family;
            font-weight: 600;
            font-size: 24px;
            line-height: 105%;
            letter-spacing: 0%;
            color: #C4C4C4;
          }
        }
        .item:hover {
          box-shadow: 0px 8px 4px #1A202C0A;
          
        }
      }
      button {
        width: 260px;
        font-family: $f-family;
        font-weight: 700;
        font-size: 24px;
        line-height: 130%;
        letter-spacing: 0%;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
      
    }
  }
  .screen2_info {
    display: flex;
    justify-content: space-between;
    padding: 30px 100px 30px 100px;
    div:last-child {padding-right: 0;}
    div {
      padding-right: 80px;

    h3 {
      font-family: $f-family;
      font-weight: 600;
      font-size: $small-title;
      line-height: 130%;
      letter-spacing: 0%;
    }
    p {
      font-family: $f-family;
      font-weight: 400;
      font-size: $small-text;
      line-height: 130%;
      letter-spacing: 0%;
      color: #454747;
      padding-top: 10px;
      
      span {
        font-weight: 600;
      }
    }
  }
  }
}
.screen3 {
  background-image: url('../images/svg/Rectangle88.svg');
  margin-top: -20px;
  background-size: cover;
  .screen3_background {
    margin-top: 40px;
    background: url('../images/svg/backscreen3.svg') no-repeat right bottom;
 background-size: contain;
  .creative {
    padding-top: 60px;
    padding-left: 120px;
    transform: rotate(-3deg);
    font-family: Pangolin;
    margin-right: 20px;
font-weight: 400;
font-size: 69.73px;
line-height: 100%;
letter-spacing: 0%;

.C {
color:#8B0000;
}
.R {
color:#1E90FF;
}
.E {
color:#000080;
}
.A {
color:#4B3D52;
}
.T {
color:#000000;
}
.I {
color:#8B0000;
}
.V {
color:#FFFF00;
}
.E {
color:#32CD32;
}
  }
  .screen3_content {
    padding: 0px 40% 0px 100px;
    .screen3_text {
      width: 100%;
      margin-top: 40px;
      h2 {
        font-family: $f-family;
font-weight: 700;
font-size: $big-title;
line-height: 100%;
letter-spacing: 0%;
      }
      p {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 60%;
        font-family: $f-family;
font-weight: 400;
font-size: $text;
letter-spacing: 6.5%;
color: $gray;
      }
    }
    .screen3_form_text {
      
      display: flex;
      padding: 0px;
      justify-content: space-between;
      .screen3_text2 {
        width: 40%;
        p {
          font-family: $f-family;
          font-weight: 600;
          font-size: $small-title;
          line-height: 100%;
          letter-spacing: 0%;
          
          span {
            color:#1FAB8A;
          }
        }
      }
      form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 45%;
       input {
        border-top: none;
        border-right: none;
        border-left: none;
        background: rgba(255, 255, 255, 0);
        width: 300px;
        height: 23px;
        font-family: $f-family;
        font-weight: 400;
        font-size: $small-text;
        line-height: 100%;
        letter-spacing: 0%;
        color: $gray;
        margin-top: 20px;
        margin-bottom: 20px;
       }
       input.button {
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: none ;
        background: #1FAB8A;
        width: 280px;
        height: 60px;
        border-radius: 30px;
        position: relative;
        top: -15px;
        color: white;
        

       }
      }
    }
  }
  }
}

@media all and (max-width: 1200px) {
.screen1 {
    header {
        padding: 20px 50px 20px 50px;
        background-color:  #FAFBFD70;
      .header_search {
        input {
          width: 40px;
          height: 40px;
          border: none;
          border-radius: 30px;
          transition: 2s;
        }
        input:hover {
          width: 300px;
          border: solid black 2px;
        }
      }
      .burger {
        display: flex;
      }
      }
      .menu {
        display: none;     
       }
       .menu_burger {
         display: none;
         flex-direction: column;
         position: absolute;
         top: 0px;
         right: 20px;
         width: 280px;
         height: 600px;
         z-index: 49;
         overflow-y: auto;
         background-color: white;
         padding: 50px 15px 0 15px;
         text-align: center;
         animation: burgerAnimation 0.4s;
         border-radius: 5px;
         ul {
           li {
             padding: 20px;
             a {
               font-family: $f-family;
               font-weight: 500;
               font-size: 14px;
               line-height: 105%;
               letter-spacing: 0%;
    
             }
             
           }
           li:hover {
             background-color: $black;
             border-radius: 16px;
           }
           li:hover a {
             color: white;
           }
         }
         .menu_burger_level2 {
           display: none;
           flex-direction: column;
           text-align: left;
           position: relative;
           left: -10px;
           padding-top: 10px;
           z-index: 52;
         
           li {
             padding: 5px;
             a{
             font-family: $f-family;
             font-weight: 600;
             font-size: 12px;
             line-height: 105%;
             letter-spacing: 0%;
             
             }
             li:hover a {
               font-weight: 700;
             }
             .menu_burger_level3 {
               display: none;
             }
           }
         
    
         }
         [href^="mailto"] {
           font-family: $f-family;
           font-weight: 400;
           font-size: $small-text;
           line-height: 100%;
           letter-spacing: 0%;
           text-decoration-style: solid;
           text-decoration: underline;
           color: $black;
           padding: 30px 5px 20px 5px;
         }
         [href^="tel"] {
           height: 40px;
         width: 220px;
         line-height: 40px;
         background-color: #1FAB8A;
         border-radius: 20px;
         color: #EEF1F6;
         text-decoration: none;
         font-family: $f-family;
         font-weight: 600;
         font-size: $small-text;
         letter-spacing: 0%;
         margin-left: 15px;
         
         }
    
       }
    .screen1_content {
        padding: 30px 40% 150px 50px;
        background-position: left 450px, 75% bottom, 135% center;
        background-size: cover, 40%, 65%;
        .breadcrumbs { display: none;}

    }

}
.screen2 {
  .screen2_content {
      padding: 20px 50px 20px 50px;
      .sets_1_4 {
        .list_of_sets {
          flex-wrap: wrap;
          .item {
            width: 41%;
          }
        }
      }
      .sets_5_8 {
        .list_of_sets {
          flex-wrap: wrap;
          .item {
            width: 41%;
          }
        }
      }
      .sets_9_12 {
        .list_of_sets {
          flex-wrap: wrap;
          .item {
            width: 41%;
          }
        }
      }
  }
  .screen2_info {
    display: none;
  }
}
.screen3 {
  .screen3_background {
    background: url('../images/svg/backscreen3.svg') no-repeat 110% top;
 background-size: 40%;
    .creative {
      padding-left: 20%;
      font-size: 55px;
      
    }
    .screen3_content {
      padding: 0px 50px 0px 50px;
      .screen3_text {
        padding-right: 30%;
        p { width: 100%;}
      }
      .screen3_form_text {
        
        form {
          input {
            width: 100%;
          }
          input.button {
            width: 250px;
          }
        }
      }
    }
  }
}

}

@media all and (max-width: 605px) {
 .screen1 {
    header {
        .logo_link {
          width: 60%;
        }
        .header_tel { 
          display: none;
        }
      }
      .screen1_content {
        text-align: center;
        padding-right: 50px;
        padding-bottom: 20px;
        background-position: left 600px, -50% 80%, -30% 80%;
        background-size: cover, 80%, 120%;
        h1 { font-size: 36px;}
        p { font-size: 16px;}
        .screen1_button {
            flex-direction: column;
            padding-top: 350px;
            button {
                padding-bottom: 10px;
            }
        }
      }
 }
 .screen2 {
  .screen2_content {
    h2 { font-size: 28px; text-align: center;}
    .sets_1_4 {
      flex-direction: column;
      align-items: center;
      .list_of_sets {
        .item {
          width: 90%;
      }
      }
    }
    .sets_5_8 {
      flex-direction: column;
      align-items: center;
      .list_of_sets {
        .item {
          width: 90%;
      }
      }
    }
    .sets_9_12 {
      flex-direction: column;
      align-items: center;
      .list_of_sets {
        .item {
          width: 90%;
      }
      }
    }
  }
 }
 .screen3 {
  background-image: url('../images/svg/Rectangle88.svg');
  margin-top: -20px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center 90%;
  .screen3_background {
    background: url('../images/svg/backscreen3.svg') no-repeat center bottom;
 background-size: 80%;
 .creative {
  padding-left: 20%;
  font-size: 36px;
  
}
     .screen3_content {
      text-align: center;
      padding-bottom: 300px;
      .screen3_text {
        width: 100%;
        padding-right: 0px;
        h2 { font-size: 24px;}
        p {font-size: 15px;}
      }
      .screen3_form_text {
        flex-direction: column;
        text-align: center;
        align-items: center;
        .screen3_text2 {
          width: 90%;
          p { font-size: 20px;}
        }
        form {
          width: 90%;
          text-align: center; 
      }
     }
  }
 }
 }
}
@keyframes burgerAnimation {
    from {opacity: (0);}
    to {opacity: (1);}
  }