html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  font-size: 16px;
  font-family: Mulish, sans-serif;
  font-style: normal;
  line-height: 1.2;
  font-weight: normal;
  color: #272525; }

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.wrapper_screen1 {
  background: linear-gradient(70deg, #9796F0, #FBC7D4); }

.screen1 {
  background: url("./images/twogirls.png") no-repeat right bottom;
  height: 750px; }

.header {
  padding: 20px 100px 0 100px; }
  .header a {
    width: 25%; }

.menu {
  height: 100px;
  width: 100%;
  margin: 0;
  padding: 0 0 0 100px;
  background-color: #FAFBFD70;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .menu nav {
    height: 100px; }
    .menu nav .menu_nav_item {
      font-size: 16px;
      font-weight: 600;
      display: inline-block;
      list-style-type: none;
      padding-right: 30px;
      line-height: 100px;
      border-radius: 6px;
      text-align: center; }
      .menu nav .menu_nav_item .menu_link {
        text-decoration: none;
        color: #272525; }
    .menu nav .menu_nav_item:hover .menu_link {
      color: white;
      -webkit-box-shadow: 0px 8px 8px -4px #1A202C0A;
              box-shadow: 0px 8px 8px -4px #1A202C0A;
      -webkit-box-shadow: 0px 16px 20px -4px #1A202C1A;
              box-shadow: 0px 16px 20px -4px #1A202C1A; }
    .menu nav .menu_nav_item:hover {
      background: url("./images/Rectangle 16.png") no-repeat top center; }
  .menu .menu_baner {
    background: url("./images/banner.png") no-repeat 90% top;
    height: 100px; }
    .menu .menu_baner p {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 20px;
      color: #3C336C;
      margin-right: 90px;
      line-height: 100px; }

.screen1_content {
  width: 100%; }
  .screen1_content .screen1_text {
    padding: 50px 40% 0 100px; }
    .screen1_content .screen1_text h2 {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 48px;
      color: #272525;
      line-height: 100%;
      letter-spacing: 4%; }
    .screen1_content .screen1_text p {
      font-weight: 400;
      font-size: 18px;
      color: #272525;
      line-height: 130%;
      letter-spacing: 6.5%;
      margin-top: 10px; }
  .screen1_content .preferences {
    padding: 40px 30% 0 100px; }
    .screen1_content .preferences .preference_item {
      width: 240px;
      height: 150px;
      background: url("/images/circle.png") no-repeat top center;
      display: inline-block;
      float: left; }
      .screen1_content .preferences .preference_item p {
        font-weight: 600;
        font-size: 24px;
        color: #272525;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        padding-top: 100px; }
        .screen1_content .preferences .preference_item p span {
          font-weight: 800;
          text-transform: uppercase; }

.screen2 {
  background-image: url("./images/svg/Rectangle85.svg");
  background-size: cover;
  margin-top: -43px;
  overflow: hidden;
  padding-bottom: 50px; }
  .screen2 .screen2_1 {
    padding: 80px 100px 0 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .screen2 .screen2_1 h2 {
      font-weight: 700;
      font-size: 48px;
      line-height: 100%;
      letter-spacing: 0%; }
    .screen2 .screen2_1 h2::after {
      content: url("/images/svg/Vector.svg");
      position: relative;
      top: -0.4em; }
    .screen2 .screen2_1 p {
      font-weight: 400;
      font-size: 18px;
      line-height: 130%;
      letter-spacing: 6.5%;
      text-transform: lowercase;
      color: #454747; }
    .screen2 .screen2_1 .allgoods {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .screen2 .screen2_1 .allgoods a {
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        letter-spacing: 6.5%;
        text-decoration: none;
        color: #272525; }
  .screen2 .screen2_2 {
    padding: 20px 100px 0 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .screen2 .screen2_2 .shoppers {
      width: 68%; }
      .screen2 .screen2_2 .shoppers figure img {
        width: 100%; }
      .screen2 .screen2_2 .shoppers figure figcaption {
        text-align: center;
        margin-top: 10px; }
        .screen2 .screen2_2 .shoppers figure figcaption a {
          font-family: Mulish, sans-serif;
          font-weight: 600;
          font-size: 24px;
          line-height: 105%;
          letter-spacing: 0%;
          text-align: center;
          text-decoration: none;
          color: #272525; }
    .screen2 .screen2_2 .popular {
      width: 30%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .screen2 .screen2_2 .popular .cups {
        width: 100%; }
      .screen2 .screen2_2 .popular .thermo-t-shirt {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
      .screen2 .screen2_2 .popular .thermo, .screen2 .screen2_2 .popular .t-shirt {
        width: 100%; }

.screen3 {
  background-image: url("./images/svg/Rectangle88.svg");
  margin-top: -20px;
  background-size: cover; }
  .screen3 .screen3_background {
    margin-top: 40px;
    background: url("./images/svg/backscreen3.svg") no-repeat right bottom;
    background-size: contain; }
    .screen3 .screen3_background .creative {
      padding-top: 60px;
      padding-left: 120px;
      -webkit-transform: rotate(-3deg);
              transform: rotate(-3deg);
      font-family: Pangolin;
      font-weight: 400;
      font-size: 69.73px;
      line-height: 100%;
      letter-spacing: 0%; }
      .screen3 .screen3_background .creative .C {
        color: #8B0000; }
      .screen3 .screen3_background .creative .R {
        color: #1E90FF; }
      .screen3 .screen3_background .creative .E {
        color: #000080; }
      .screen3 .screen3_background .creative .A {
        color: #4B3D52; }
      .screen3 .screen3_background .creative .T {
        color: #000000; }
      .screen3 .screen3_background .creative .I {
        color: #8B0000; }
      .screen3 .screen3_background .creative .V {
        color: #FFFF00; }
      .screen3 .screen3_background .creative .E {
        color: #32CD32; }
    .screen3 .screen3_background .screen3_content {
      padding: 0px 100px 0 100px; }
      .screen3 .screen3_background .screen3_content .screen3_text {
        width: 70%;
        margin-top: 40px; }
        .screen3 .screen3_background .screen3_content .screen3_text h2 {
          font-family: Mulish, sans-serif;
          font-weight: 700;
          font-size: 48px;
          line-height: 100%;
          letter-spacing: 0%; }
        .screen3 .screen3_background .screen3_content .screen3_text p {
          margin-top: 20px;
          margin-bottom: 20px;
          width: 60%;
          font-family: Mulish, sans-serif;
          font-weight: 400;
          font-size: 18px;
          letter-spacing: 6.5%;
          color: #454747; }
      .screen3 .screen3_background .screen3_content .screen3_button {
        padding-bottom: 70px; }
        .screen3 .screen3_background .screen3_content .screen3_button button {
          width: 280px;
          height: 60px;
          text-align: center;
          border: none;
          border-radius: 60px;
          background-color: #EEF1F6; }
          .screen3 .screen3_background .screen3_content .screen3_button button a {
            font-family: Montserrat;
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            letter-spacing: 0%;
            text-decoration: none;
            color: #272525; }
        .screen3 .screen3_background .screen3_content .screen3_button button:hover {
          background-color: #272525; }
        .screen3 .screen3_background .screen3_content .screen3_button button:hover a {
          color: white; }

/*# sourceMappingURL=style1.css.map */