@import "variables";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
  ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary, time, mark, audio, video
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html { 
    box-sizing:border-box;
    }
    *, *::before, *::after{
        box-sizing:inherit;
    }

body {
    font-size: $small-text;
    font-family: $f-family;
    font-style:normal;
    line-height: 1.2;
    font-weight: normal;
    color:  $black;

}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style-type: none;
}
.clearfix:after { content: "."; visibility: hidden; display: block;
    height: 0; clear: both }
.wrapper_screen1 {
    background: url('../images/svg/bgcolor.svg') no-repeat left top;
  }
.screen1 {
    background : url('../images/twogirls.png') no-repeat right bottom;
   
    
  }
.header {
    padding: 20px 100px 20px 100px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    .logo_link {
        width: 35%;
        img {
          width: 100%;
        }
    }
    .header_search {
      input {
        width: 300px;
        height: 40px;
        padding-left: 50px;
        border: solid black 3px;
        border-radius: 30px;
        background: url('../images/svg/search.svg') no-repeat 10px center;
      }
    }
    .header_tel {
      height: 40px;
      width: 220px;
      line-height: 40px;
      background-color: #1FAB8A;
      border-radius: 20px;
      color: #EEF1F6;
      text-decoration: none;
      font-family: $f-family;
      font-weight: 600;
      font-size: $small-text;
      letter-spacing: 0%;

    }

}
.menu {
    height:100px;
    width: 100%;
    padding-left: 100px;
    background-color:  #FAFBFD70;
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav {
        height: 100px;
       width: 50%;
        .menu_level1 { text-align: center;
          display: flex;
          justify-content: space-between;
          align-items: center;
         height: 100px;      
        .menu_nav_item {
            font-size: $small-text;
            font-weight: 600;
            list-style-type:none;
            padding-right: 20px;
            padding-left: 15px;
            padding-top: 40px;
            border-radius: 6px;
            position: relative;
            height: 100px;  
            width: 25%;             
            .menu_link {
                text-decoration: none;
                color: $black;
                padding: 15px;
              }           
        }                   
        .menu_nav_item:hover .menu_link {
            color: white;
            box-shadow: 0px 8px 8px -4px #1A202C0A;
            box-shadow: 0px 16px 20px -4px #1A202C1A;}
            .menu_nav_item:hover {
                background: url('../images/Rectangle16.png')no-repeat top center;
               }
               .menu_level2 {
                position: absolute;
                left: -10px;
                top: 100px;
                width: 150px;
                background-color: $black;
                border-radius: 16px;
                display:none;
                 li { 
                  width: 100%;
                  text-align: left;
                  padding: 15px;
                 a{
                   color: white;
                  }
                }
                li:hover {
                  background-color: white;
                }
                li:hover .a_level2{
                  color: $black;
                }
                .menu_level3 {
                  position:absolute;
                  left: 152px;
                  top: 50px;
                  width: 150px;
                  background-color: $black;
                border-radius: 16px;
                display: none;
                  li:hover a{
                    color: $black;
                  }
                }
               }
            }
            /* Выпадающее меню */
            .menu_level1 li:hover > ul{
              display: inline-block;
            }
            .menu_level1 .menu_level2 li:hover > ul {
              display: inline-block;
            }
              }

    .menu_baner { 
        
        background: url('../images/banner.png') no-repeat 90% top;
        height: 100px;
        p {
            text-transform: uppercase;
            font-weight: 900;
             font-size: 20px;
            color:  #3C336C;
             margin-right: 90px;
             padding-top: 40px;
            
        }
      }
}
  .screen1_content {
    width: 100%;
     .screen1_text {
    padding: 50px 40% 0 100px;

    h2 {
        text-transform: uppercase;
  font-weight: 900;
  font-size: $big-title;
  color:  $black;
  line-height: 100%;
  letter-spacing: 4%;
    }

    p {
        font-weight: 400;
  font-size: $text;
  color:  $black;
  line-height: 130%;
  letter-spacing: 6.5%;
  margin-top: 10px
    }
  }
  .menu_baner_adapt {
    display: none;
  }
  .preferences{
    padding: 60px 50% 40px 100px;
    display: flex;
    justify-content: space-between;
    .preference_item {
        width: 240px;
        height: 200px;
        padding-bottom: 50px;
        background: url('../images/circle.png') no-repeat top center;
       
        
    
        p {
            font-weight: 600;
      font-size: 24px;
      color:  #272525;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      padding-top: 100px;
    
         span {
            font-weight: 800;
            text-transform: uppercase;
         }
        }
      }
  } 
 }
  .screen2 {
      background-image: url('../images/svg/Rectangle85.svg');
      background-size: cover;
      margin-top: -40px;
      overflow: hidden;
      padding-bottom: 50px;
    .screen2_1 {
      padding: 80px 100px 0 100px;
      display: flex;
      justify-content: space-between;

      h2 {
        
font-weight: 700;
font-size: $big-title;
line-height: 100%;
letter-spacing: 0%;
      }
      h2::after {
        content: url('../images/svg/Vector.svg');
        position: relative; top:-0.4em;
      }


      p {
font-weight: 400;
font-size: $text;
line-height: 130%;
letter-spacing: 6.5%;
text-transform: lowercase;
color: $gray;
      }
      .allgoods {
     display: flex;
     align-items: center;
      
      a {
font-weight: 400;
font-size: $text;
line-height: 130%;
letter-spacing: 6.5%;
text-decoration: none;
color: $black;

      }
    }
    }
  .screen2_2 {
    padding: 20px 100px 0 100px;
    display:flex;
    justify-content: space-between;
    
    .shoppers {
      width: 68%;
      figure {
      
      img {
        width:100%;
      }
      figcaption {
        text-align: center;
        margin-top: 10px;
        a {
          font-family: $f-family;
font-weight: 600;
font-size: $small-title;
line-height: 105%;
letter-spacing: 0%;
text-align: center;
text-decoration: none;
color: $black;
        }
      }
    }
    }
    .popular {
      width: 30%;
      display: flex;
      flex-direction: column;
     .cups {
      width: 100%;
     }
     .thermo-t-shirt {
      display: flex; 
      justify-content: space-between;}
     .thermo, .t-shirt {
      width: 100%;
     }
    }
  }
  }
  .screen3 {
    background-image: url('../images/svg/Rectangle88.svg');
    margin-top: -20px;
    background-size: cover;
    .screen3_background {
      margin-top: 40px;
      background: url('../images/svg/backscreen3.svg') no-repeat right bottom;
   background-size: contain;
    .creative {
      padding-top: 60px;
      padding-left: 120px;
      transform: rotate(-3deg);
      font-family: Pangolin;
      margin-right: 20px;
font-weight: 400;
font-size: 69.73px;
line-height: 100%;
letter-spacing: 0%;

.C {
  color:#8B0000;
}
.R {
  color:#1E90FF;
}
.E {
  color:#000080;
}
.A {
  color:#4B3D52;
}
.T {
  color:#000000;
}
.I {
  color:#8B0000;
}
.V {
  color:#FFFF00;
}
.E {
  color:#32CD32;
}
    }
    .screen3_content {
      padding: 0px 100px 0 100px;
      .screen3_text {
        width: 70%;
        margin-top: 40px;
        h2 {
          font-family: $f-family;
font-weight: 700;
font-size: $big-title;
line-height: 100%;
letter-spacing: 0%;
        }
        p {
          margin-top: 20px;
          margin-bottom: 20px;
          width: 60%;
          font-family: $f-family;
font-weight: 400;
font-size: $text;
letter-spacing: 6.5%;
color: $gray;
        }
      }
      .screen3_button {
        padding-bottom: 70px;
        button {
          width: 280px;
          height: 60px; 
          text-align: center;
          border: none;
          border-radius: 60px;
          background-color: #EEF1F6;
          ;
            a {
              font-family: Montserrat;
              font-weight: 500;
              font-size: 16px;
              line-height: 140%;
              letter-spacing: 0%;
              text-decoration: none;
              color: $black;
            }
        }
        button:hover {
          background-color: $black;
        }
        button:hover a {
          color: white;
        }
      }
    }
    }
  }
  .screen4 {
    padding: 20px 100px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
      .img_sweaters {
        width: 50%;
        
        background-image: url('../images/svg/Ellipse26.svg'), url('../images/svg/Ellipse27.svg');  
        background-repeat:  no-repeat, no-repeat;
        background-position: 10% top, 100% 100%;
        background-size: 30%;
        img {width: 100%;
        padding: 60px 70px 80px 95px;}
      }
      .screen4_content {
        width: 49%;
        display: flex;
        flex-direction: column;
        padding-top: 60px;
        h3 {
          font-family: $f-family;
          font-weight: 700;
          font-size: $title;
          line-height: 120%;
          letter-spacing: 0%;
        }
        p {
          font-family: $f-family;
          font-weight: 400;
          font-size: $text;
          line-height: 130%;
          letter-spacing: 6.5%;
          color: $gray;
          padding-top: 20px;
        }
      }
  }
  .screen5 {
    background-image: url('../images/svg/bgscreen5.svg');
    background-repeat: no-repeat;
    background-position:  left top;
    background-size: cover;
    
    .screen5_content {
      padding: 150px 100px 150px 100px;
      display: flex;
      flex-direction: column;
      background-image: url('../images/svg/bg5lamp.svg'), url('../images/svg/bg5rocket1.svg'), url('../images/svg/bg5rocket2.svg'), url('../images/svg/bgcurve.svg');
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: 75% top, 45% 40%, 95% 5%, 50% 65%;
      .screen5_text1 {
        width: 40%;
        margin-bottom: 60px;
        h3 {
          font-family: $f-family;
          font-weight: 700;
          font-size: $title;
          line-height: 130%;
          letter-spacing: 4%;
           span {
            text-transform: uppercase;
           }
        }
        p {
          font-family: $f-family;
          font-weight: 400;
          font-size: $text;
          line-height: 130%;
          letter-spacing: 6.5%;
          color: $gray;
        }
      }
      .screen5_text2 {
        width: 40%;
        padding-bottom: 40px;
        p {
          font-family: $f-family;
          font-weight: 600;
          font-size: $small-title;
          line-height: 100%;
          letter-spacing: 0%;

        }
      }
      form {
        display: flex;
        justify-content: space-between;
       input {
        border-top: none;
        border-right: none;
        border-left: none;
        background: rgba(255, 255, 255, 0);
        width: 300px;
        height: 23px;
        font-family: $f-family;
        font-weight: 400;
        font-size: $small-text;
        line-height: 100%;
        letter-spacing: 0%;
        color: $gray;

        
       }
       input.button {
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: none ;
        background: #1FAB8A;
        width: 280px;
        height: 60px;
        border-radius: 30px;
        position: relative;
        top: -15px;
        color: white;
        

       }
      }

    }
  }
  .screen6 {

  }
  footer {
    background: url('../images/svg/bgfooter.svg') no-repeat left top;
    background-size: cover;
   .footer_content {
    padding: 100px 100px 30px 100px ;
    display: flex;
    justify-content: space-between;
    .footer_part1 {
      display: flex;
      flex-direction: column;
      width: 30%;
      padding-right: 30px;
      .footer_logo {
      img {
        width: 100%;
      }
      p {
        padding-top: 20px;
        padding-right: 30px;
        font-family: $f-family;
        font-weight: 400;
        font-size: $text;
        line-height: 130%;
        letter-spacing: 6.5%;
        color: $gray;
      }
    }
      .footer_tel {
        padding-top: 50px;
        [href^="tel"] {
          font-family: $f-family;
          font-weight: 600;
          font-size: $small-text;
          line-height: 100%;
          letter-spacing: 0%;
          color: $black;
          text-decoration: none;
        }
        [href^="mailto"] {
          font-family: $f-family;
          font-weight: 400;
          font-size: $small-text;
          line-height: 100%;
          letter-spacing: 0%;
          text-decoration-style: solid;
          color: $black;
        }
      }
    }
    .footer_links {
      display: flex;
      justify-content: space-between;
      width: 30%;
      padding-left: 30px;
      padding-right: 30px;
      li {
        list-style-type: none;
        font-family: $f-family;
        font-weight: 600;
        font-size: $text+2px;
        line-height: 36px;
        letter-spacing: 0%;
        color: $black;

        a {
          text-decoration: none;
          font-family: $f-family;
          font-weight: 400;
          font-size: $text;
          line-height: 52px;
          letter-spacing: 0%;
          color: $gray;

        }
      }
    }
    .footer_contact {
      width: 30%;
      h4 {
        font-family: $f-family;
        font-weight: 600;
        font-size: $text+2px;
        line-height: 36px;
        letter-spacing: 0%;
      }
      p {
        font-family: $f-family;
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
        letter-spacing: 0%;
        color: #8F90A6;
        padding-top: 10px;
        padding-bottom: 40px;
      }
      form {
        position: relative;
        .footer_tel {
        border: solid black 2px;
        border-radius: 15px;
        height: 54px;
        width: 277px;
        padding-left: 10px;
        font-family: $f-family;
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
        letter-spacing: 0%;
      }
      .footer_submit {
        width: 34px;
        height: 34px;
        position: absolute;
        left: 220px;
        top: 10px;
        background-color: #524983;
        border-radius: 30px;
        border: none;
        color: white;
        font-size: $small-text;
      }
    }
   }
  }
}

@media all and (max-width: 1200px) {
  .wrapper_screen1 {
    background: url('../images/svg/bgcolor.svg') no-repeat center -200px;
    background-size: cover;
   
   
  }
  .screen1 {
    background : url('../images/twogirls.png') no-repeat right 45%;
    
    
    .header {
      padding: 20px 50px 20px 50px;
    .header_search {
      input {
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 30px;
        transition: 2s;
      }
      input:hover {
        width: 300px;
        border: solid black 2px;
      }
    }
    }
    .menu {
      padding: 0 0 0 50px;
      nav {
        width: 100%;
        .ul {
          .menu_nav_item {
            padding-right: 10px;
            padding-left: 7px;
          }
        }
      }
      .menu_baner {
       display: none;
      
      }
    }
    .screen1_content {
      .screen1_text {
        padding: 50px 40% 0 50px;
      }
      .menu_baner_adapt {
          display: inline-block;
          background: url('../images/banner_adapt.png') no-repeat left bottom;
          
          p {
              text-transform: uppercase;
              font-weight: 900;
               font-size: 20px;
              color:  #3C336C;
               margin-right: 90px;
               padding-top: 40px;
              padding-bottom: 120px;
              padding-left: 50px;
          }
      }
      .preferences{
        
        padding: 200px 50px 10px 50px; 
        justify-content: space-around;
        
      }
      
    }
  }
  .screen2 {
    margin-top: 30px;
  }

}

@media all and (max-width: 500px) {
 .screen1 {
  .header {
    .logo_link {
      width: 60%;
    }
    .header_tel { 
      display: none;
    }
  }
 } 
}