//colors
$black:#272525;
$violet:#3C336C;
$green:#1FAB8A;
$gray:#454747;

//font size
$big-title: 48px;
$title: 36px;
$small-title: 24px;
$text: 18px;
$small-text: 16px;

//font-family
$f-family: Mulish, sans-serif;